body, html {
    height: 100%;
    margin: 0; 
}
body{
    background-image: url("../images/catSleep.gif");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#choices{
    display: flex;
    


}